__pycache__/
.env
venv/
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
.venv/
ENV/
env/
venv.bak/
.idea/
.vscode/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
*.swp
*~
*.bak
*.tmp
*.log
*.pot
*.db
.DS_Store
Thumbs.db
pgdata/